.navigation {
  box-shadow: 1px 0px 5px 0px black;
  width: 100vw;
  top: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: black;
  padding: 0 20px;
}

.navigation img {
  height: 70px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
