.place-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.category-head {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-top: 5%;
}

.category-head h2 {
  color: #022b52;
  text-align: center;
  margin-right: 5%;
}

.changeBtn {
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: red;
}

.introtext-container-child {
  text-align: center;
  width: 65%;
  font-size: 2.5vh;
}
.introtext-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.introtext-head {
  color: #022b52;
  font-size: 5vh;
  font-weight: bold;
}
