.place-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -60px;
}

.category-head {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}

.category-head h2 {
  color: #022b52;
  text-align: center;
  margin-left: 48%;
}

.changeBtn {
  background-color: transparent;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: red;
}
