.circle {
  width: 25em;
  height: 25em;
  border: 1px solid black;
  padding: 0;
  margin: 10% auto 20px 40%;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 5%;
  right: 25%;
}

.circle li {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.text {
  color: black;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid black;
  position: fixed;

  z-index: 1;
}

.spin-button {
  position: absolute;
  left: 45%;
  width: 120px;
  height: 40px;
  background-color: rgb(8, 91, 63);
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  color: white;
}

.rotate-class {
  animation: start-rotate 0.5s linear infinite;
}

@keyframes start-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stop-class {
  animation-play-state: paused;
}

.wheel-Options input {
  width: 15vw;
  height: 3vh;
  margin: 1vh 0;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 3px 7px #022b52;
}

.wheel-Options {
  top: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20vw;
  left: 10vw;
}
